<html>
    <head>
        <title>Reddit Oppenheimer</title>
    </head>
    <body>
        <form action="/">
            <input id="back-button" type="submit" value="Back">
        </form>
        <div id="main-div">
            <a href="https://www.reddit.com/prefs/apps">apps page</a>
        </div>
    </body>
</html>

<style>
    html
    {
        background-color: rgb(14, 14, 14);
        color: antiquewhite;
    }
    #back-button
    {
        text-decoration-line: underline;
        background-color: rgb(14, 14, 14);
        color: antiquewhite;
        border-style: none;
    }
</style>